In [1]:
import dask.dataframe as dd
import geopandas as gpd
import pandas as pd

ERROR 1: PROJ: proj_create_from_database: Open of /home/linusrg/Code/LILI/.micromamba/envs/default/share/proj failed

In [2]:
path = '~/Code/LILI/data/'

In [3]:
def pandaimp(path) :
    df = pd.read_csv(f'{path}expressions/2019/01/02_expressions.csv', sep = '\t') 

%timeit pandaimp(path)

1.74 s 췀 31.4 ms per loop (mean 췀 std. dev. of 7 runs, 1 loop each)

In [4]:
def daskimp(path):
        df = dd.read_csv(f'{path}expressions/2019/01/02_expressions.csv', sep = "\t", dtype=
                {'country': 'string',
        'country_code': 'string',
        'place_full_name': 'string',
        'place_id': 'string',
        'place_name': 'string',
        'place_type': 'string'})

%timeit daskimp(path)

8.18 ms 췀 116 췃s per loop (mean 췀 std. dev. of 7 runs, 100 loops each)

In [5]:
df = dd.read_csv(f'{path}expressions/2019/01/02_expressions.csv', sep = "\t", dtype=
            {'country': 'string',
    'country_code': 'string',
    'place_full_name': 'string',
    'place_id': 'string',
    'place_name': 'string',
    'place_type': 'string'})

In [6]:
#df = pd.read_csv(f'{path}expressions/2019/01/02_expressions.csv', sep = '\t') 
df.head()

,created_at,id,twitter_id,text,truncated,user_id,user_location,user_lang,longitude,latitude,...,inno_26,inno_27,inno_29,inno_30,inno_31,inno_32,inno_33,inno_34,inno_39,inno_44
0,Wed Jan 02 07:00:00 +0000 2019,201901020000_0002,1080358028199620608,Emprendedores y valientes 游눩 No dejes de leer e...,False,935212979511091200,"Sevilla, Espa침a",es,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
1,Wed Jan 02 07:00:00 +0000 2019,201901020000_0003,1080358028195577856,#Deportes: Dominicano Karl Anthony cerca de un...,True,792146727721656320,Mundo,es,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
2,Wed Jan 02 07:00:00 +0000 2019,201901020000_0004,1080358028182904832,#Espacio Sonda super칩 sobrevuelo hist칩rico del...,False,44489439,La Paz - Bolivia,es,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
3,Wed Jan 02 07:00:00 +0000 2019,201901020000_0005,1080358028216389632,Hoy te damos a conocer el HORARIO ESPECIAL de ...,True,735485872762544130,"B칠tera, Espa침a",es,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
4,Wed Jan 02 07:00:01 +0000 2019,201901020000_0007,1080358032381333505,RT @alertasurbanas: #Buz칩nAU Este sujeto se me...,False,2883273104,Canc칰n Quintana Roo,es,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False

In [7]:
cols = ["inno_01","inno_02","inno_03","inno_04","inno_05","inno_06","inno_07","inno_08","inno_09","inno_10","inno_12","inno_13","inno_15","inno_16","inno_17","inno_18","inno_19","inno_20","inno_21","inno_22","inno_23","inno_24","inno_25","inno_26","inno_27","inno_29","inno_30","inno_31","inno_32","inno_33","inno_34","inno_39","inno_44"]

In [8]:
df['innovation'] = df[cols].sum(axis=1)

In [9]:
df_s = df[df.innovation != 0]
len(df_s)

44

In [12]:
df_s.to_parquet('sample_for_geocoding.parquet')

(None,)