In [18]:
import pandas as pd
import os
# Treat '' and np.inf as NaN
pd.options.mode.use_inf_as_na = True

In [19]:
path = '~/Code/LILI/data/' 
cols = ["inno_01","inno_02","inno_03","inno_04","inno_05","inno_06","inno_07","inno_08","inno_09","inno_10","inno_12","inno_13","inno_15","inno_16","inno_17","inno_18","inno_19","inno_20","inno_21","inno_22","inno_23","inno_24","inno_25","inno_26","inno_27","inno_29","inno_30","inno_31","inno_32","inno_33","inno_34","inno_39"]
imp_cols = ["created_at", "twitter_id","user_id","user_location","longitude","latitude","place_box_1_long","place_box_1_lat","place_box_2_long","place_box_2_lat","country","country_code","place_full_name","place_id","place_name"] + cols

df_allgeo = pd.DataFrame()

In [20]:
dtypes={'twitter_id': 'int64',
        'created_at': 'object',
        'user_id': 'int64',
        'user_location': 'string',
        'longitude': 'float',
        'latitude': 'float',
        'place_box_1_long': 'string',
        'place_box_1_lat': 'string',
        'place_box_2_long': 'string',
        'place_box_2_lat': 'string',
        'country': 'string',
        'country_code': 'string',
        'place_full_name': 'string',
        'place_id': 'string',
        'place_name': 'string',
        'place_type': 'string',
        'inno_01': 'boolean',
        'inno_02': 'boolean',
        'inno_03': 'boolean',
        'inno_04': 'boolean',
        'inno_05': 'boolean',
        'inno_06': 'boolean',
        'inno_07': 'boolean',
        'inno_08': 'boolean',
        'inno_09': 'boolean',
        'inno_10': 'boolean',
        'inno_12': 'boolean',
        'inno_13': 'boolean',
        'inno_15': 'boolean',
        'inno_16': 'boolean',
        'inno_17': 'boolean',
        'inno_18': 'boolean',
        'inno_19': 'boolean',
        'inno_20': 'boolean',
        'inno_21': 'boolean',
        'inno_22': 'boolean',
        'inno_23': 'boolean',
        'inno_24': 'boolean',
        'inno_25': 'boolean',
        'inno_26': 'boolean',
        'inno_27': 'boolean',
        'inno_29': 'boolean',
        'inno_30': 'boolean',
        'inno_31': 'boolean',
        'inno_32': 'boolean',
        'inno_33': 'boolean',
        'inno_34': 'boolean',
        'inno_39': 'boolean'}

In [21]:
def PandasImp(path, imp_cols=imp_cols, dtypes = dtypes):
    df = pd.read_csv(
        path, 
        sep = '\t', 
        lineterminator='\n', 
        usecols=imp_cols, 
        false_values =['', ' ', "''", "' '", "", " ", 'False', 'Fal', "['', '', '']" ], #There is some weired stuff in that Data! Turning it into false Values.
        dtype = dtypes)
    return df

In [22]:
#create subfolder list
subfolders = []
for root, dirs, files in os.walk('../data'):
   for name in files:
      if root in subfolders:
         pass
      else:
         subfolders.append(root) 
subfolders.sort()

In [23]:
# Stack all the bool to one named column
def BoolStack(df_s):
    df_s['inno_nr'] = df_s[cols].idxmax(1).astype('string')
    df_n = df_s.drop(cols, axis=1)
    df_n['inno_nr'] = df_n['inno_nr'].astype('string')
    return(df_n)

In [24]:
#loop trough everything. This takes ~33-45sek per Month: 80min total (on Linus' Machine)
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
#ignore the warning, append still works and concat is not implemented in dask yet
df_s= BoolStack(PandasImp('empty.csv'))

for folder in subfolders:
    print(folder)
    for root, dirs, files in os.walk(folder):
        files.sort()
        for file in files:

            df = BoolStack(PandasImp(f'{folder}/{file}'))
      
            df_i = df[df.inno_nr != 0]

            if df_i.shape[1] == df_s.shape[1]:
                df_s = df_s.append(df_i)
            else: print(folder, "--> wrong column count")

../data/expressions/2012/01
../data/expressions/2012/02
../data/expressions/2012/03
../data/expressions/2012/04
../data/expressions/2012/05
../data/expressions/2012/06
../data/expressions/2012/07
../data/expressions/2012/08
../data/expressions/2012/09
../data/expressions/2012/10
../data/expressions/2012/11
../data/expressions/2012/12
../data/expressions/2013/01
../data/expressions/2013/02
../data/expressions/2013/03
../data/expressions/2013/04
../data/expressions/2013/05
../data/expressions/2013/06
../data/expressions/2013/07
../data/expressions/2013/08
../data/expressions/2013/09
../data/expressions/2013/10
../data/expressions/2013/11
../data/expressions/2013/12
../data/expressions/2014/01
../data/expressions/2014/02
../data/expressions/2014/03
../data/expressions/2014/04
../data/expressions/2014/05
../data/expressions/2014/06
../data/expressions/2014/07
../data/expressions/2014/08
../data/expressions/2014/09
../data/expressions/2014/10
../data/expressions/2014/11
../data/expressions/2014/12
../data/expressions/2015/01
../data/expressions/2015/02
../data/expressions/2015/03
../data/expressions/2015/04
../data/expressions/2015/05
../data/expressions/2015/06
../data/expressions/2015/07
../data/expressions/2015/08
../data/expressions/2015/09
../data/expressions/2015/10
../data/expressions/2015/11
../data/expressions/2015/12
../data/expressions/2016/01
../data/expressions/2016/02
../data/expressions/2016/03
../data/expressions/2016/04
../data/expressions/2016/05
../data/expressions/2016/06
../data/expressions/2016/07
../data/expressions/2016/08
../data/expressions/2016/09
../data/expressions/2016/10
../data/expressions/2016/11
../data/expressions/2016/12
../data/expressions/2017/01
../data/expressions/2017/02
../data/expressions/2017/03
../data/expressions/2017/04
../data/expressions/2017/05
../data/expressions/2017/06
../data/expressions/2017/07
../data/expressions/2017/08
../data/expressions/2017/09
../data/expressions/2017/10
../data/expressions/2017/11
../data/expressions/2017/12
../data/expressions/2018/01
../data/expressions/2018/02
../data/expressions/2018/03
../data/expressions/2018/04
../data/expressions/2018/05
../data/expressions/2018/06
../data/expressions/2018/07
../data/expressions/2018/08
../data/expressions/2018/09
../data/expressions/2018/10
../data/expressions/2018/11
../data/expressions/2018/12
../data/expressions/2019/01
../data/expressions/2019/02
../data/expressions/2019/03
../data/expressions/2019/04
../data/expressions/2019/05
../data/expressions/2019/06
../data/expressions/2019/07
../data/expressions/2019/08
../data/expressions/2019/09
../data/expressions/2019/10
../data/expressions/2019/11
../data/expressions/2019/12

In [25]:
df_s.tail(5)

,created_at,twitter_id,user_id,user_location,longitude,latitude,place_box_1_long,place_box_1_lat,place_box_2_long,place_box_2_lat,country,country_code,place_full_name,place_id,place_name,inno_nr
112773,Sun Dec 08 00:02:56 +0000 2019,1203464944223686656,1094717144800153601,EspaÃ±a,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,inno_25
133246,Sun Dec 08 02:38:07 +0000 2019,1203503997421838338,1080159674,Parque Patricios,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,inno_23
135290,Sun Dec 08 02:55:07 +0000 2019,1203508275595153409,883475939929329664,Venezuela,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,inno_20
145835,Sun Dec 08 04:37:01 +0000 2019,1203533919590735872,471614045,En la ðŸŒ™,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,inno_21
147205,Sun Dec 08 04:56:49 +0000 2019,1203538902394404864,498093168,arg.,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,inno_25

In [28]:
df_s.to_parquet('geocoding_all.parquet')

In [27]:
len(df_s)

20765